@model Product
@{
    ViewBag.Title = "Edit";

}

<h2>Edit Product</h2>



    <form id="editProduct"  >

        <input type="hidden" name="ID" value="@Model.ID"/>

        <label>Name</label>
        <input class="form-control" name="Name" value="@Model.Name" />

        <br />

        <label>Description</label>
        <input class="form-control" name="Description" value="@Model.Description" />

        <br />

        <label>Price</label>
        <input class="form-control" name="Price" value="@Model.Price" />

        <br />
        <button type="button" class="aa-browse-btn btn" id="editBtn">Update</button>
    </form>



<script>

    $("#editBtn" ).on("click",function () {
       

        $.ajax(
            {
                type: "Post",
                url: '@Url.Action("Edit")',
                data: $("#editProduct").serialize(),

                success: function (result) {
                    $("#tblContainer").html(result);
                    $("#actionContainer").html("");
                    return result;
                },
                error: function (result) {
                    console.log(result);
                }


            });
    });
</script>

